<div class="flex p-4">
  <!-- CONTAINER SIDEBAR -->
  <div class="basis-0">
    <p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60">
      <ng-template #start>
          <span class="w-full flex justify-center">
            <img src="assets/logo.png" width="64" />
          </span>
      </ng-template>
      <ng-template #submenuheader let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>
      <ng-template #item let-item>
        <a [routerLink]="item.route" class="p-menu-item-link" pRipple>
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #end>
          <button pRipple class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 rounded-none cursor-auto transition-colors duration-200">
              <p-avatar label="P" styleClass="mr-2" size="large" shape="circle" />
              <span class="inline-flex flex-col">
                  <span class="font-bold">Amy Elsner</span>
                  <span class="text-sm">Admin</span>
              </span>
          </button>
      </ng-template>
  </p-menu>
  </div>
  <!-- CONTENT -->
  <div class="basis-1">
    bella
  </div>
</div>